@import url('./style.css');
@import url('./styleNav.css');

:root {
    font-family: 'DM Sans';
}

.form {
    padding: 0 2rem;
    margin: 0 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .375rem;
}

.form {
    border-radius: 20px;
    background: #F6F6F6;
}

.form img.upload {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.comentario {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px
}

textarea {
    flex: 1;
    margin-bottom: 1rem;
}

button {
    margin-bottom: 1rem;
}