@import url('./style.css');
@import url('./styleNav.css');

.wrapper-contatos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-card {
    display: flex;
    padding: 8px 32px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 12px;
}

.contact-card {
    border-radius: 20px;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-info {
    display: flex;
    gap: 16px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-name {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'DM Sans';
    font-size: 1.2em;
    font-weight: 400;
}

.contact-number {
    color: #000;
    font-family: 'DM Sans';
    font-size: 1.6em;
    font-weight: 500;
}

.phone-number {
    padding: 2rem;
}
